div {
    /* border: 50px solid green; */
    background-color: burlywood;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 10px;
}

h2{
    text-align: center;
}

body {
    background-image: url(./beans.jpg);
}

h1 {
    text-align: center;
}

.p1 {
    text-align: center;
}

hr {
    background-color: brown;
    height: 10px;
    width: 300px;
}

.div2 {
    width: 300px;
    
}

p{
    text-align: center;
}


.p6 {
    position: absolute;

    margin-left: 170px;
}

.p7 {position: absolute;

    margin-left: 135px;}

.p8{
    position: absolute;

    margin-left: 163px;
}

.p9{
    position: absolute;

    margin-left: 202px;
}

.p10{
    position: absolute;

    margin-left: 211px;
}
.we p {
    display: inline-block;

}

.p11{position: absolute;

    margin-left: 218px;

}

.p12{
    position: absolute;

    margin-left: 190px;
}

.p13{
    position: absolute;

    margin-left: 182px;
}

.p14{
    position: absolute;

    margin-left: 192px;
}

img{
    margin: auto;
    padding: auto;
    display: block;
}